@import url("/usr/share/themes/Yaru/gnome-shell/gnome-shell.css");  

stage {
  font-family: "Segoe UI";
  font-size: 13pt;
}

/* Dash2Dock Right Border */
#dashtodockContainer.shrink #dash,
#dashtodockContainer.dashtodock #dash,
#dashtodockContainer.shrink.left #dash,
#dashtodockContainer.dashtodock.left #dash,
#dashtodockContainer.shrink.right #dash,
#dashtodockContainer.dashtodock.right #dash,
#dashtodockContainer.shrink.top #dash,
#dashtodockContainer.dashtodock.top #dash,
#dashtodockContainer.shrink.bottom #dash,
#dashtodockContainer.dashtodock.bottom #dash,
#dashtodockContainer.straight-corner #dash,
#dashtodockContainer.shrink.straight-corner #dash {
  border-right: 1px solid rgba(0,0,0,0.2) !important;
}